@font-face {
    font-family: "Gilroy-Bold";
    src: url('../fonts/gilroy/Gilroy-Bold.eot'),
        url('../fonts/gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/gilroy/Gilroy-Bold.woff') format('embedded-woff');
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
}
@font-face {
    font-family: "Gilroy-Black";
    src: url('../fonts/gilroy/Gilroy-Black.eot'),
        url('../fonts/gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/Gilroy-Black.ttf') format('truetype'),
        url('../fonts/gilroy/Gilroy-Black.woff') format('embedded-woff');
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
}
@font-face {
    font-family: "Gilroy-SemiBold";
    src: url('../fonts/gilroy/Gilroy-SemiBold.eot'),
        url('../fonts/gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype'),
        url('../fonts/gilroy/Gilroy-SemiBold.woff') format('embedded-woff');
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
}
@font-face {
    font-family: "Gilroy-Light";
    src: url('../fonts/gilroy/Gilroy-Light.eot'),
        url('../fonts/gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/Gilroy-Light.ttf') format('truetype'),
        url('../fonts/gilroy/Gilroy-Light.woff') format('embedded-woff');
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
}
@font-face {
    font-family: "Gilroy-Regular";
    src: url('../fonts/gilroy/Gilroy-Regular.eot'),
        url('../fonts/gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/Gilroy-Regular.ttf') format('truetype'),
        url('../fonts/gilroy/Gilroy-Regular.woff') format('embedded-woff');
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
}
@font-face {
    font-family: "Gilroy-UltraLight";
    src: url('../fonts/gilroy/Gilroy-UltraLight.eot'),
        url('../fonts/gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/Gilroy-UltraLight.ttf') format('truetype'),
        url('../fonts/gilroy/Gilroy-UltraLight.woff') format('embedded-woff');
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
}
@font-face {
    font-family: "Gilroy-LightItalic";
    src: url('../fonts/gilroy/Gilroy-LightItalic.eot'),
        url('../fonts/gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/Gilroy-LightItalic.ttf') format('truetype'),
        url('../fonts/gilroy/Gilroy-LightItalic.woff') format('embedded-woff');
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url('../fonts/gilroy/Gilroy-Medium.eot'),
    url('../fonts/gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy/Gilroy-Medium.ttf') format('truetype'),
    url('../fonts/gilroy/Gilroy-Medium.woff') format('embedded-woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}