header.heading
    .container
        .row
            .col.heading__nav
                .heading__nav__logo
                    a(href="/") Pintora
                nav.heading__nav__menu.menu--desktop
                    ul.heading__nav__menu__list
                        li.link--mail
                            a.heading__nav__menu__link(href="mailto:zakaz@holst-na-zakaz.ru") zakaz@holst-na-zakaz.ru
                        li.link--phone
                            a.heading__nav__menu__link(href="tel:+74951153816") +7 (495) 115-38-16
                        li.link--whatsapp
                            a.heading__nav__menu__link(href="tel:+79686038598") +7 968 603-85-98
                nav.heading__nav__menu.menu--mobile
                    a.menu-hamburger(href="javascript:;")
                        img(loading="lazy", src="images/icons/hamburger.svg", alt="")
        .row
            .col.heading__left
                .heading__left__heading
                    .heading__left__heading__wrapper
                        span.heading__left__heading__promo.text--red Идеальный подарок!
                        h1.heading__left__heading__main Печать на&nbsp;холсте по&nbsp;фото
                .heading__left__promo
                    .heading__left__promo__item.item--dostavka
                        p
                            span.text--bold Бесплатная доставка<br />
                            |  по Москве
                    .heading__left__promo__item.item--zakaz
                        p Изготовление заказа <br />от
                            span.text--bold  30 минут
                    .heading__left__promo__item.item--oplata
                        p Оплата
                            span.text--bold  только при получении заказа!
                    
                    .heading__left__promo__item.item--rama 
                        p Багетная рама
                            span.text--bold  по акции в подарок!
                .heading__left__button
                    a(href="").orderButton Рассчитать стоимость
            .col.heading__right